body{
    background-color:#B0C4DE;
  }

p{
    color: #191970;
    font-family: "Helvetica";
}

td {
  font-size: 24px;
  color: #191970;
  font-family: "Helvetica"

}

.center{
    text-align: center;
}

.heading {
    font-family: "Helvetica";
    color: white;
    text-align: center;
}

a:link,:visited {
    text-decoration:none;
    color: #191970;
}


a:hover,:active {
    text-decoration:none;
}

hr { 
    border: 1px solid #191970;
  } 

#search{
    width: 100%;
    text-align:center;
}

h3{
    font-family: "Helvetica";
    color: #191970;
    text-align: center;
    font-size: 20px;

}

.im {
    padding:6px;
    border:1px double #191970;
 }

 .guestbookbutton {
    background-color: white;
    color:  #191970;
    border: none;
    border-radius: 12px;
    width: 100px;
    height: 50px;
}


 